body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color:red
}
h1{
    font-size: 50px; 
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
p{
    text-align: justify;
    padding-left: 2%;
}
.link-button{
    background-color: sandybrown;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    font-weight: 500;
    
}
.orange-color{
    color: orange;
}
.title-h1{
    text-align: center;
    width: 100%;
}
.vertical-line{
    width: 40px;
    padding: 88px 3px;
    text-align: center;
    background-color: orange;
    background-position-x: left;
  
}

.flexible-container{
   justify-content: center;
   align-items: center;
    display: flex;


}
.half-width p{
    padding: 10px 20px;
    margin: 10px;
}
.half-width b{
    box-shadow: 4px 8px 0 rgb(red, green, blue);
}
.card-1{
    padding: 10px 20px;
    margin: 10px 15px;
    background-color: rosybrown;
    border-radius: 30px;
}.card-1 img{
    width: 50%;
}
.card-2{
    padding: 2px 5px;
    margin: 5px 10px;
    background-color: salmon;
    border-radius: 30px;
}
.card-2 img{
    width: 40%
}
.card-3{
    padding: 10px 20px;
    margin: 10px 15px;
    background-color: sienna;
    border-radius: 30px;

}
.card-3 img{
    width: 50%;
}