body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color:red;
    margin-left: 10px;
}
h1{
    font-size: 50px; 
}
.header{
    margin-left: 10px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
p{
    text-align: justify;
    padding-left: 2%;
}
.explore-button{
    background-color: sandybrown;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}
.Read-more-button{
    background-color: sandybrown;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
}
.orange-color{
    color: orange;
}
.title-h1{
    text-align: center;
    width: 100%;
}
.vertical-line{
    padding: 88px 3px;
    position: absolute;
    background-color: orange;
    top: 45px;
    left: 7px;
}

.flexible-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.card-1 {
    padding: 10px 20px;
    margin: 10px 15px;
    background-color: #E7E9EB;
    border-radius: 30px;
}
.card-1 img {
    width: 50%;
}
.card-2 {
    padding: 10px 20px;
    margin: 10px 15px;
    background-color: #FFF0F5;
    border-radius: 30px;
}
.card-2 img {
    width: 50%;
}
.card-3 {
    padding: 10px 20px;
    margin: 10px 15px;
    background-color: #FFEFD5;
    border-radius: 30px;
}
.card-3 img {
    width: 50%;
}
.line-area{
    padding: 0;
    margin-left: 0;
}
.develop-limits{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left ;
    padding-left: 5px;
}
.common-area{
    display: flex;
}
.img-area img{
    max-width: 60%;
    margin-left: 65px;
}
.common-docs h3 {
    margin-left: 10px;
    text-transform: capitalize;
}
.Read-more-button-2{
    background-color: sandybrown;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}
.common-area{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5px;
}
footer{
    margin: 0;
    padding: 0;
}
.footer{
    text-align: center;
    background-color: black;
    padding: 20px 0;
}
.footer p {
    text-align: center;
    color: gray;
}
.color-2{
    color: red;
}
.footer h2{
    color: #fff;
}